@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FCfit/Analyzed Biometric Fitness</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/favicon.ico">    
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114-precomposed" />
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72-precomposed" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon-144-precomposed" />

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="~/css/flexslider.css">    
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/dasky.source.css" />
    <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
 
</head>
<body>
    <!-- PAGE LOADER -->
    <div id="page-loader">
        <img src="~/img/fit-sm-logo.jpg" alt="">
        <div class="loader">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE LOADER End -->

    <div id="st-trigger-effects" class="trigger-fixed visible-xs visible-sm">
        <a href="#" data-effect="st-effect-2">Menu<i class="fa fa-bars"></i></a>
    </div>
    <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-2" id="menu-4">
            <div class="st-menu-logo"><img src="~/img/fit-sm-logo.jpg" alt=""></div>
            <ul>
                <li><a href="#home" data-scroll-nav="0">Home</a></li>
                <li><a href="#about" data-scroll-nav="1">About fCfit</a></li>
                <li><a href="#goals" data-scroll-nav="2">Training Goals</a></li>   
                <li><a href="#workout" data-scroll-nav="3">workout</a></li>
                <li><a href="#results" data-scroll-nav="4">results</a></li>
                <li><a href="#programs" data-scroll-nav="5">programs</a></li>
                <li><a href="#contact" data-scroll-nav="6">Contact</a></li>
            </ul>
            <ul>
                <li><a href="shortcodes.html">Shortcodes<i class="fa fa-external-link"></i></a></li>
            </ul>
        </nav>
        <!-- content push wrapper -->
        <div class="st-pusher">
            <div class="st-content">
                <!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <!-- extra div for emulating position:fixed of the menu -->
                    <header data-scroll-index="0">
                        <!-- HOME FULLSCREEN -->
                        <div id="home" class="home-fullscreen" data-100="opacity:1" data-500="opacity:0.5">
                            <div class="home-bg-container">
      
         <!--   <iframe width="560" height="315" src="https://www.youtube.com/embed/wD2let7vaBo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                -->                <a id="bgndVideo" class="home-bg-player" data-property="{videoURL:'http://youtu.be/wD2let7vaBo',containment:'.home-bg-container', quality: 'hd720', showinfo:0, showControls: false, showInfo: false, autoPlay:true, loop:true, modestbranding:0, mute:true, startAt:0, rel:0, showinfo:0, fullscreen:1, opacity:1}"></a>
                            </div>
                            <div class="overlay">
                                <div class="home-content">
                                    <!-- INFO BAR -->
                                    <!-- LOGOTYPE -->
                                    <div class="logo-home">
                                        <a href="index.html"></a>
                                    </div>
                                    <!-- LOGOTYPE End -->                                    
                                </div>
                            </div>
                            <div class="home-more" style="z-index:70">
                                <a href="#about" class="btn btn-primary" style="padding:0" data-scroll-nav="1"><img src="~/img/down.png" /></a>
                            </div>
                        </div>                        
                        <!-- NAVBAR -->
                        <div id="navbar" class="nav-fixed .nav-home-top hidden-xs hidden-sm">
                            <div class="container">
                                <div class="nav-logo"><a href="index.html"><img src="~/img/fit-tiny-logo.png" alt=""></a></div>
                                <nav class="main-nav">
                                    <ul>
                                        <li><a href="#home" data-scroll-nav="0">Home</a></li>
                                        <li><a href="#about" data-scroll-nav="1">About fcfit</a></li>
                                        <li><a href="#goals" data-scroll-nav="2">Training Goals</a></li>
                                        <li><a href="#workout" data-scroll-nav="3">workout</a></li>
                                        <li><a href="#results" data-scroll-nav="4">results</a></li>
                                        <li><a href="#programs" data-scroll-nav="5">programs</a></li>
                                        <li><a href="#contact" data-scroll-nav="6">Contact</a></li>
                                        <li><a href="#shortcodes.html">Login<i class="fa fa-external-link"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </header>

                    <!-- ABOUT SECTION CONTAINER -->
                    <section id="about" data-scroll-index="1">
                        <section class="about-text section">
                            <div class="container">
                                <div class="section-header sh-center">
                                    <h1><span>First Care fit</span></h1>
                                    <h5 class="">
                                        <em> Your fitness is much more than your heart rate</em>.
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 video-scale">
                                        <iframe class="embeddedObject" src="//player.vimeo.com/video/119656217?title=0&byline=0&controls=2&portrait=0&color=333&rel=0&modestbranding=0&fs=1" height="292" width="876" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="1"></iframe>

                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id="timeline" class="section-inverse" style="background-image:url(../img/jiu-mat.jpg);background-size:cover;">
                            <div id="dasky">
                                <div id="set-goal" class="step">
                                    <div class="dsk-circle">0</div>
                                    <h2 class="dsk-circle-title">What is your Goal?</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h4>
                                                "Citius, Altius, Fortius"<br />
                                                "Faster, Higher, Stronger"
                                            </h4>
                                            <p>
                                                Your fitness is much more than your <em>heart rate</em>.
                                                Use all of your physiological data to reach your workout and training goal.<br />
                                                Do you want to win your meet? Run a marathon? Take your game to the highest level? 
                                            </p>
                                            <a href="#goals" class="dsk-link">Read More</a>
                                        </div>                                       
                                        <img src="~/img/treadmill.png" />
                                    </div>
                                </div>
                                <div id="baseline" class="step">
                                    <div class="dsk-circle">1</div>
                                    <h2 class="dsk-circle-title">Baseline your Fitness</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <p>
                                                <br /><br />
                                                Our program starts with the biometric readings of baseline max heart rate, max breathing rate, intensity heart and breathing. <br />
                                                <br />  We help athletes, gym trainers, and coaches extend the 'anaerobic threshold' towards safe goal success.
                                            </p>
                                            <a href="#workout-baseline" class="dsk-link">Read More</a>
                                        </div>                                       
                                        <img src="~/img/steps-photo02.png" alt="baseline your workout" />
                                    </div>
                                </div>

                                <div id="workouts" class="step">
                                    <div class="dsk-circle">2</div>
                                    <h2 class="dsk-circle-title">Optimize your Workout</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <p>
                                                <br />The FirstCare FIt 8-week workout program allows you to see all of your body biometrics "LIVE", analyze and compare, then work on specific body numbers.
                                            </p>
                                            <a href="#workout-perform" class="dsk-link">Read More</a>
                                        </div>                                        
                                        <img src="~/img/step-3.jpg" alt="workout readings for up to 50 athletes" />
                                    </div>
                                </div>

                                <div id="progress" class="step">
                                    <div class="dsk-circle">3</div>
                                    <h2 class="dsk-circle-title">Analyze Body Numbers</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h4> Mechanical Load versus Physiological Load = Training Load</h4>
                                            <p>
                                                Use technology to establish where you are and to compare your live readings to balance your Training Load.
                                            </p>
                                            <a href="#results" class="dsk-link">Learn More</a>
                                        </div>                                       
                                        <img src="~/img/step-1.jpg" alt="analyze and compare biometric data" />
                                    </div>
                                </div>

                                <div id="score" class="step">
                                    <div class="dsk-circle">Score</div>
                                    <h2 class="dsk-circle-title">Goal Success</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h4>"What keeps me going is goals"</h4><h6 class="text-right">Muhammad Ali</h6><br />
                                            <p>Using science and your own body to understand your fitness level, you can optimize your routines to get the max out of your workouts.</p><br />
                                            <p>
                                                <i>Perform stronger. See your GOAL.</i>
                                            </p>
                                        </div>
                                        <img src="~/img/otavio-up.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </section>                        
                    </section>
                    <div class="home-more text-center">
                        <a href="#goals" class="btn btn-primary" data-scroll-nav="2" style="padding:0"><img src="~/img/down.png" /></a>
                    </div>
                <!-- TRAINING GOALS SECTION CONTAINER -->
                <section id="goals" class="section about-text" data-scroll-index="2">
                    <section class="section-header">
                        <h1>
                            <span>TRAINING GOALS</span>
                        </h1>
                        <div class="header-desc">
                            <span></span>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 bottom-gap">
                                <div class="col-sm-6">
                                    <p class="p-big-desc accent-color fadeLeft">
                                        <br />
                                        Keep your eye on your goal!
                                    </p>
                                    <h6>
                                        Our technology records more that just your heart rate. With our 'LIVE' body readings during training workouts, you can see all of your physiological intensity and load (cumulative effort) in real-time. You will be able to see what is preventing you from achieving your ultimate goal.
                                    </h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-left" style="color:black">
                                        <img src="~/img/win-race.jpg" />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="small-header">
                                    <span>Find your max Training Load</span>
                                </h5>
                                <div class="progress fadeLeft" fade-delay="400">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                        <span class="sr-only">65% Complete</span>
                                        Mechanical Load &middot; 65%
                                    </div>
                                </div>
                                <div class="progress fadeLeft" fade-delay="200">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                        <span class="sr-only">80% Complete</span>
                                        Physiological load &middot; 80%
                                    </div>
                                </div>
                                <div class="progress fadeLeft">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                        Training Load &middot; 100%
                                    </div>
                                </div>
                                <img src="~/img/pullups2.jpg" />
                                <img src="~/img/pullups1.jpg" />
                            </div>
                            <div class="col-sm-6">
                                <h5 class="small-header">
                                    <span>See your Body Numbers</span>
                                </h5>
                                <!-- ACCORDION -->
                                <div class="panel-group fadeRight" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Raw numbers from your body <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse in">
                                            <div class="panel-body text-left">
                                                <p>
                                                    We have a different approach to fitness. We target the 'raw numbers' that come out of your body, not just the way we feel or the way we've done it all along years ago. We look at heart rate recovery, some lung numbers, and other attributes of real gauges that we can see. We develop a personalized program for each person, based on their goals, their capabilities, and their ability to workout. We ask, "How much time do you have?" If it's 20 minutes and 3 days a week, "Okay".
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                The key is Analysis and Plan <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                What we are doing with FCFit is pretty simple really. We’ve been developing workout routines for Jiu Jitsu competitors. That has expanded to people outside of the gym, and with coaches of school atheletics.<br /><br />
                                                There is interest in using additional physiological data to determine baselines and safe training progress towards goal success. <br /><br />
                                                Jiu Jitsu facilities to use our data and analysis for their members. The key is the analysis and program development.  We go beyond to understand and translate body biometrics information to logical action. <br /><br />
                                                What we have developed a “Subscription” service to gym owners and individuals interest in having us collect, analyze and translate this information to help them improve their workouts, or at a minimum, understand at a cursory level where they can improve.
                                                The program is based on an 8 week timeline to make progress toward goals or an ongoing subscription for continual improvement.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                Analyze and Compare  <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                We have developed a portal where people can login, establish a baseline, view their baseline data, receive recommended adjustments to their workouts, see progress reports toward goals and get questions answered.  Our database is growing daily and I believe the information we are gathering is going to be valuable.<br /><br />
                                                Our participants can view their data and compare themselves with other members or anyone else in the database with similar demographics.  That has proven to be a great motivator.  Gym owners value this program as an enhanced value to their programs.<br /><br />
                                                <p> Coaches and trainers can view the intensity and load of each player at any point during practice – giving you the cold hard data to see who’s maxing out, and who is hiding; who’s giving 110% and who isn’t; who’s able to push through the wall, and who has mental toughness.</p>
                                            </div>
                                        </div>
                                    </div> <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                                                A look &#8220;inside&#8221; the athlete <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse0" class="panel-collapse collapse ">
                                            <div class="panel-body text-left">
                                                Our system tracks up to 50 subjects at the same time. Conditioning, effort, stress and exertion can be quantified, recorded and analyzed. Measure when a player thinks they&#8217;re giving their maximum effort &#8211; and use the physiological and mechanical output to close the gap.
                                                <br /><br />With a built-in Live mode, coaches and trainers can view the intensity and load of each player at any point during practice &#8211; giving you the cold hard data to see who&#8217;s maxing out, and who is hiding; who&#8217;s giving 110% and who isn&#8217;t; who&#8217;s able to push through the wall, and who has mental toughness.
                                                And when concerns about health and injuries arise &#8211; coaches can rest assured they have the tools to know when it&#8217;s safe for a player to push it to their max zone &#8211; and when it&#8217;s time to back down.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse01">
                                                Peak performance per unit of effort<i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse01" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                Configurable thresholds and real-time monitoring allows management of training intensity for each athlete &#8211; while allowing you to monitor 50+ people simultaneously.
                                                Streaming live data allows real-time insight into the potential of heat stress, fatigue and dehydration. The system allows the trainer and coach to design practice drills and exercise regimes that will train each athlete, and the team as a whole, to their peaks, ensuring the highest level of performance per unit of effort.
                                                <br /><br />Our FCFIT system generates customizable, detailed reports and analysis of individual and team progress – including trend analysis of individuals over multiple sessions or sub sessions. Comparisons between individuals can be created quickly and easily. Share reports with other coaches and use them to fine tune practice drills and exercise regimes to achieve individual and team goals.
                                                <br /><br /> Our FCFIt system also includes fitness testing utilities that help to determine the fitness level of anyone you are monitoring.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                                                Mechanical Load <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse10" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                Mechanical load is a measure of total kinematic output and will give a good indication of an individual's overall level of effort compared to their historic data, or to a group, for a given training session.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse20">
                                                Physiological Load <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse20" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                Physiological load is a measure of total cardiovascular output and will give a good indication of an individual's overall level of effort compared to their historic data, or to a group, for a given training session.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse30">
                                                Training load <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse30" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                Training Load is the average of physiological and mechanical loads.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                70% heart rate zone <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                To get the most of your half-hour workout you need to get your heart rate up to 65% to 70% heart range zone in a 35 to 40 minute workout. You'll see a huge difference in a short amount of time.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading clearfix">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                3 Subscription Program Models <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                            </a>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                            <div class="panel-body text-left">
                                                <ul>
                                                    <li>
                                                        Individuals, who want to reach their goal, will baseline, workout program, analysis and development.
                                                    </li>
                                                    <li>
                                                        Gym Trainers work with individuals and group sessions with 'LIVE' biometric reading and analysis charts.
                                                    </li>
                                                    <li>
                                                        Sport specific development programs and role-specific development routines.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ACCORDION END -->
                            </div>
                        </div>
                    </div>
                </section>
                    <section class="section section-inverse section-bg-attached section-bg-overlay" style="background-image:url(../img/mat-bg.jpg);">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5 class="small-header sh-center bottom-gap">
                                        <span>Where Do you FIT?</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <!-- COUNT ITEM -->
                                    <div class="count-item fadeTop">
                                        <div class="count-header"></div>
                                        <span class="count-number counter" data-from="0" data-to="32" data-speed="2000">0</span>
                                        <div class="count-subject">Push ups</div>
                                    </div>
                                    <!-- COUNT ITEM End -->
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <!-- COUNT ITEM -->
                                    <div class="count-item fadeTop" fade-delay="400">
                                        <div class="count-header"></div>
                                        <span class="count-number counter" data-from="0" data-to="23" data-speed="2000">0</span>
                                        <div class="count-subject">Pull ups</div>
                                    </div>

                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <!-- COUNT ITEM -->
                                    <div class="count-item fadeTop" fade-delay="800">
                                        <div class="count-header"></div>
                                        <span class="count-number counter" data-from="0" data-to="17" data-speed="2000">0</span>
                                        <div class="count-subject">squats</div>
                                    </div>
                                    <!-- COUNT ITEM End -->
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <!-- COUNT ITEM -->
                                    <div class="count-item fadeTop" fade-delay="1200">
                                        <div class="count-header"></div>
                                        <span class="count-number counter" data-from="0" data-to="10" data-speed="2000">0</span>
                                        <div class="count-subject">bear crawls</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="home-more text-center">
                            <a href="#workout" data-scroll-nav="3" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                            <a href="#about" data-scroll-nav="1" class="btn btn-primary" style="padding:0"><img src="~/img/up.png" /></a>
                        </div>
                    </section>
                <!-- WORKOUT BASELINE SECTION -->
                <section class="section" id="workout" data-scroll-index="3">
                    <div class="container" id="workout-baseline">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- SMALL HEADER CENTERED  -->
                                <div class="section-header">
                                    <h1>
                                        <span>baseline workout</span>
                                    </h1>
                                    <div class="header-desc bottom-gap">
                                        <span style="text-align:left">
                                            Some key fitness parameters in establishing a baseline are max heart rate, max breathing rate, and high and low intensity heart and breathing rates - and maximum oxygen uptake.
                                        </span>
                                    </div>
                                    <!-- SMALL HEADER CENTERED  End -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 resp-no-gap">
                                <h5 class="small-header fadeTop">
                                    <span>tire-flip & pullups</span>
                                </h5>
                            </div>
                            <div class="col-xs-6 col-sm-3 resp-no-gap">
                                <h5 class="small-header fadeTop" fade-delay="400">
                                    <span>bear crawl</span>
                                </h5>
                            </div>
                            <div class="col-xs-6 col-sm-3 resp-no-gap">
                                <h5 class="small-header fadeTop" fade-delay="800">
                                    <span>squats</span>
                                </h5>
                            </div>
                            <div class="col-xs-6 col-sm-3 resp-no-gap">
                                <h5 class="small-header fadeTop" fade-delay="1200">
                                    <span>Ball Jump</span>
                                </h5>
                            </div>
                        </div>
                        <div class="row bottom-gap">
                            <div class="col-xs-6 col-sm-3">
                                <div class="team-member-big ">
                                    <iframe src="//player.vimeo.com/video/119028114?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="265" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <p>Compare your heart rate with your heart rate variable.</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <div class="team-member-big" fade-delay="400">
                                    <iframe src="//player.vimeo.com/video/119027841?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="265" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <p>Check you anaerobic threashold to see where you can extent it.</p>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <div class="team-member-big" fade-delay="800">
                                    <iframe src="//player.vimeo.com/video/117555684?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="240" height="265" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <p> How quickly can you get your heart back to normal.</p>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <div class="team-member-big" fade-delay="1200">
                                    <iframe src="//player.vimeo.com/video/119028022?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="265" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    <p>We check your entire cardio, to find your max effort.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12 resp-no-gap">
                                <h5 class="small-header fadeTop">
                                    <span>Find your training load</span>
                                </h5>
                                <div class="col-sm-6">
                                    <p class="text-left" style="color:black"></p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="text-left" style="color:black"></p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>strength</h6>
                                        </div>
                                        <img src=" ~/img/jit-demo1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>cardio</h6>
                                        </div>
                                        <img src="~/img/bearcrawl.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>fitness</h6>
                                        </div>
                                        <img src="~/img/start.jpg" />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>flexibility</h6>
                                        </div>
                                        <img src="~/img/ji-05.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>sleep + stress</h6>
                                        </div>
                                        <img src="~/img/treadmill.png" />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 resp-no-gap">
                                    <div class="team-member-small fadeBottom">
                                        <div class="team-member-overlay">
                                            <h6>nutrition</h6>
                                        </div>
                                        <img src="~/img/otavio02.jpg" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </section>

                <!-- WORKOUT SECTION -->
                <section id="workout-perform" class="section section-diff">
                    <div class="section-header">
                        <h1>
                            <span>8 week Workout</span>
                        </h1>
                        <div class="header-desc">
                            <span> </span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <p class="p-big-desc accent-color fadeLeft"><img src="~/img/pullups-bg.jpg" /></p>
                                    <h6 style="line-height: 1.7em">
                                        In the 90’s, Vince Lombardi said that we had to be exhausted to claim to have had a good workout.
                                    </h6>
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="text-left fadeRight accent-color" style="line-height: 1.7em">
                                        Today - through technology and science, we know Anaerobic performance is one of the essential elements of physical fitness, along with muscle strength, flexibility, and body composition.<br />
                                        <br /> A peak workout extends the Anaerobic threshold.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="story">
                                    <div class="timeline"></div>
                                    <div class="story-item">
                                        <div class="story-item-content fadeRight">
                                            <div class="story-item-wrap">
                                                <div class="line-arrow"></div>
                                                <span class="si-year">WEEK 1 </span><span class="si-date">Baseline</span><span class="si-header">Record biometric heart readings</span><br />


                                                <p class="si-desc">Our FCfit Program sets up your baseline. We give you a program to follow based on how much time you have, and what your facility looks like. The baseline isn't just― "What our your biometrics, what is your resting heart rate, what is your flexability, and how high you can jump", but also― "What is your weight, what is your body fat percentage, and where do you want to be in 8 weeks?".</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="story-item">
                                        <div class="story-item-content fadeLeft">
                                            <div class="story-item-wrap">
                                                <div class="line-arrow"></div>
                                                <span class="si-year"> WEEK 4 </span><span class="si-date">Workout</span><span class="si-header">Analyze 'live' specific numbers</span><br />
                                                <p class="si-desc">We have 'specific individuals' looking and 'specific numbers' for a 'specific person', saying, "Okay I want to improve that number... here's what I've got to do in the next 4 weeks to improve that number... here's what I've got to do in another 4 weeks to make it better, so that I can get from point A to point B in 8 weeks.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="story-item">
                                        <div class="story-item-content fadeRight">
                                            <div class="story-item-wrap">
                                                <div class="line-arrow"></div>
                                                <span class="si-year">WEEK 8 </span><span class="si-date">Goal</span><span class="si-header">Maximize training, without injury</span><br />
                                                <p class="si-desc"> If your goal is further out than 8 weeks, at least we can take an 8 week step towards that goal. For a triathlon, the goal may be a year. We can break that down into segments.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-more text-center">
                        <a href="#results" data-scroll-nav="4" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                        <a href="#goals" data-scroll-nav="2" class="btn btn-primary" style="padding:0"><img src="~/img/up.png" /></a>
                    </div>
                </section>

                <!-- RESULTS SECTION -->
                <section id="results" data-scroll-index="4">
                    <section class="section">
                        <div class="section-header">
                            <h1>
                                <span>Workout Results</span>
                            </h1>
                            <div class="header-desc">
                                <span>See your 'Live' Physiological Readings</span>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <ul class="devices-nav">
                                        <li><a>Anaerobic Performance</a></li>
                                        <li><a>Live Status Monitor</a></li>
                                        <li><a>Analysis Comparison</a></li>
                                        <li><a href="">Heart Rate</a></li>
                                        <li><a href="">Breathing Rate</a></li>
                                        <li><a href="">Posture</a></li>
                                        <li><a href="">Activity Level</a></li>
                                        <li><a href="">Impact & Acceleration</a></li>
                                        <li><a href="">Heart Rate Recovery</a></li>
                                        <li><a href="">Heart Rate Variability</a></li>
                                        <li><a href="">Heart Rate Confidence</a></li>
                                        <li><a href="">Stress</a></li>
                                        <li><a href="">ROG Subject Status</a></li>
                                        <li><a href="">Physiological Intensity & Load</a></li>
                                        <li><a href="">Mechanical Intensity & Load</a></li>
                                        <li><a href="">Training Intensity & Load</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="results-slider" class="flexslider devices">
                                <ul class="slides" style="margin-top:20px;">
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Anaerobic Ramped Effort Fitness Test</h6>
                                                            <p>
                                                                Anaerobic performance is one of the essential elements of physical fitness, along with muscle strength, flexibility, and body composition. Some key fitness parameters in establishing a baseline are max heart rate, max breathing rate, and high and low intensity heart and breathing rates. Maximum oxygen uptake (VO2max) is also measured.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/fitness-test.JPG" alt="" class="pull-right" style="margin-top: -10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Live physiologic readings</h6>
                                                            <p>
                                                                A computer screen can show and monitor as many as 50 people "LIVE". Trainers and coaches can manage their athlete's workout routine by setting
                                                                their Safety Thresholds, and tracking their Training Zone relative to the designated training load.
                                                                Each person is displayed via a configurable “BioGauge”. The Safety Alert state is always tracked via the Safety
                                                                tab which notifies the user if an individual has crossed an assigned Safety Threshold.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/Omnisense-live-chart.JPG" alt="" class="pull-right" style="margin-top: -10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Analysis and Comparison Summary reports and graphs for fitness and training optimization</h6>
                                                            <p>We have an extensive toolbox of reporting features including spreadsheets and polar plots. Everything a researcher, coach or trainer needs to understand how their people are performing over time.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/Omnisense-analysis.png" alt="analyze and compare chart" class="pull-right" style="margin-top: -10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Heart Rate</h6>
                                                            <p>
                                                                Heart rate on the subject BioGuage can be displayed several ways.
                                                                The sweep scale is adjusted to reflect 100% of the subject's maximum heart rate, as stored in the OmniSense database.<br />
                                                                The Percentage of Maximum Heart Rate is part of analysis of ramped fitness test data using the Omnisense Analysis module.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/heart-rate.png" alt="" class="pull-right" style="margin-top: -10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">

                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Breathing Rate</h6>
                                                            <p>
                                                                Breathing rate is measured using a pressure sensor in the BioHarness strap, and can be displayed on the subject BioGauge.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/breathing-rate.png" alt="" class="pull-right" style="margin-top: -10px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Posture</h6>
                                                            <p>
                                                                Posture will indicate from supine (subject lying on back) through prone (subject lying face down) to inverted if appropriate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/posture.png" alt="posture chart" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Activity Level</h6>
                                                            <p>
                                                                Activity level is indicated by () or (()) parentheses enclosing the posture arrow.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/active-level.png" alt="posture chart" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Impact & Acceleration</h6>
                                                            <p>
                                                                Impact can be configured to display in the subject BioGuage. The data source is a 3-axis accelerometer in the BioHarness, which is sampled at 100Hz.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/impact.png" alt="impact & acceleration" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Heart Rate Recovery</h6>
                                                            <p>
                                                                Anaerobic performance is one of the essential elements of physical fitness, along with muscle strength, flexibility, and body composition. Some key fitness parameters in establishing a baseline are max heart rate, max breathing rate, and high and low intensity heart and breathing rates. Maximum oxygen uptake (VO2max) is also measured.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/fitness-test.JPG" alt="impact & acceleration" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Heart Rate Variability</h6>
                                                            <p>
                                                                Heart Rate Variability (HRV) is an SSDN (standard deviation of RR intervals) value calculated over a rolling 300 heart beat interval, and thus no value is displayed until approximately five minutes after device power-on. The displayed value is a standard deviation in milliseconds.<br />
                                                                SDNN is the most representative parameter of HRV. Sometimes the term 'HRV' in medical papers indicates 'SDNN' among many papers of HRV analysis. Thus low SDNN is low HRV, which primarily indicates a reduction in dynamic complexity.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/HRV.png" alt="impact & acceleration" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Heart Rate Confidence</h6>
                                                            <p>
                                                                This graph shows a demonstration where a BioHarness strap is worn with dry sensor pads, and the strap moved against the surface of the skin, generating a peak of ECG noise. At this point:<br />

                                                                • ECG amplitude is steady<br />

                                                                • ECG noise is high<br />

                                                                • HR confidence drops to below 50%<br />

                                                                • Subject status on the BioGauge is indicated grey
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/heart-rate-confidence.png" alt="heart-rate-confidence" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Stress</h6>
                                                            <p>
                                                                Stress is a linear 0 to 10 metric based on HRV.
                                                                <img src="~/img/stress-level.png" />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/stress.png" alt="stress" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>ROG Subject Status</h6>
                                                            <p>
                                                                The ROG (Red,Orange,Green) algorithm combines activity level, heart rate and breathing rate, and raises subject status to Orange and then to Red if thresholds, such as those indicated below are crossed. <br />
                                                                LIVE displays the vital status of entire team boiled down to a single Red–Orange–Green status.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/ROG.png" alt="ROG Subject Status" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Physiological Intensity & Load</h6>
                                                            <p>
                                                                Physiological Intensity is measured on a 0 - 10 scale, comparing current heart rate against a subject's maximum heart rate. The default settings are that 0 = 50% HRmax, and 10 = 100% HRmax.
                                                                With these values the subject below achieves an intensity indication  of 5.
                                                            </p>

                                                            <img src="~/img/physio-intensity.png" alt="Physiological intensity & load" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <p>If the lower limit is increased up to 75% of HRmax, then the subject will only achieve an intensity indication of 2 for the same HR value. Their indicated physiological load is also reduced correspondingly.</p>
                                                    <img src="~/img/physio-intensity-2.png" alt="Physiological intensity & load" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Mechanical Intensity & Load</h6>
                                                            <p>
                                                                Mechanical Intensity is an acceleration-based index in the range 0 to 10. It can be configured to display on the subject BioGauge. It is calculated once per second. It measures a subject's kinematic output, based on the peak acceleration  magnitudes detected.<br />
                                                                Mechanical Intensity of 10 is equivalent to a sprinting level of impact and movement.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/mechanical-load.png" alt="mechanical graph load" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="icon-box">
                                                        <div class="icon-box-content">
                                                            <h6>Training Intensity & Load</h6>
                                                            <p>
                                                                The ROG (Red,Orange,Green) algorithm combines activity level, heart rate and breathing rate, and raises subject status to Orange and then to Red if thresholds, such as those indicated below are crossed. The time in a particular state is also taken into account.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <img src="~/img/ROG.png" alt="ROG Subject Status" class="pull-right" style="margin-top: -20px;">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="home-more" style="text-align:center">
                            <a href="#programs" data-scroll-nav="5" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>

                            <a href="#workout" data-scroll-nav="3" class="btn btn-primary" style="padding:0"><img src="~/img/up.png" /></a>
                        </div>
                    </section>
                </section>

                <!-- PROGRAM SECTION CONTAINER -->
                <section id="programs" data-scroll-index="5">
                    <section class="section section-diff ">
                        <div class="container">
                            <div class="section-header">
                                <h1>
                                    <span>Programs</span>
                                </h1>
                                <div class="header-desc">
                                    <span>Custom Subscription Plans</span>
                                </div>
                            </div>

                            <div class="row bottom-gap ">
                                <div class="col-sm-4">
                                    <!-- SERVICE ITEM -->
                                    <div class="service fadeLeft">
                                        <div class="service-icon">
                                            <i class=""></i>
                                        </div>
                                        <div class="service-header">
                                            Individual
                                        </div>
                                        <div class="service-desc">
                                            <p>Performance Monitor Device</p>
                                            <p>Monitoring software</p>
                                            <p>FCfit online chart analysis</p>
                                        </div>
                                        <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                    </div>
                                    <!-- SERVICE ITEM End -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- SERVICE ITEM -->
                                    <div class="service fadeTop">
                                        <div class="service-icon">
                                            <i class=""></i>
                                        </div>
                                        <div class="service-header">
                                            Gym Trainers
                                        </div>
                                        <div class="service-desc">
                                            <p>Equipment: multiple performance monitors, software, online analysis reports for 50 individual and team workout comparisons</p>
                                        </div>
                                        <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                    </div>
                                    <!-- SERVICE ITEM End -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- SERVICE ITEM -->
                                    <div class="service fadeRight">
                                        <div class="service-icon">
                                            <i class=""></i>
                                        </div>
                                        <div class="service-header">
                                            Coaches
                                        </div>
                                        <div class="service-desc">
                                            <p>Equipment: multiple performance monitors, software, online analysis reports for 50 individual and team workout comparisons</p>
                                        </div>
                                        <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                    </div>
                                    <!-- SERVICES ITEM End -->
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- PROGRAMS SECTION  end -->
                    <div class="home-more text-center">
                        <a data-scroll-nav="6" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                    </div>
                </section>

                <!-- TESTIMONIALS quotes SECTION -->
                <section id="contact" data-scroll-index="6" class="section section-inverse section-bg-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- SMALL HEADER CENTERED  -->
                                <h5 class="small-header sh-center bottom-gap">
                                    <span>Words of Workout wisdom</span>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="flexslider testimonials-slider">
                                    <ul class="slides">
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p><b>The good news is...</b> That every human body is made up of the same components; heart, lungs, muscles, tendons and bones to support all of those things.</p>
                                                    <p><b>The bad news is...</b> The body also comes with a brain. The body is willing to work hard, through punishment and adversity. The brain on the other hand, because of a variety of influences like job stress, politics, family issues -and my favorite, relationships, to name a few, will have wide ranging effects on your body.</p>
                                                    <small>
                                                        Roger Walsh
                                                        <span class="occupation">President of FCfit</span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>What keeps me going is goals</p>
                                                    <small>
                                                        Muhammad Ali
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>If you fail to plan, then you plan to fail</p>
                                                    <small>
                                                        Anonymous
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>If you have a goal― Write it down!  If you do not write it down― You do not have a goal.  You have a wish. </p>
                                                    <small>
                                                        Steve Maraboli
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>Citius, Altius, Fortius (Faster, Higher, Stronger)</p>
                                                    <small>
                                                        the Olympic motto
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>If you don’t know where you are going, you’ll end up someplace else</p>
                                                    <small>
                                                        Yogi Berra
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="testimonial">
                                                <blockquote>
                                                    <p>
                                                        Cat: Where are you going?<br />
                                                        Alice: Which way should I go?<br />
                                                        Cat: That depends on where you are going.<br />
                                                        Alice: I don’t know.<br />
                                                        Cat: Then it doesn’t matter which way you go.If you don’t know where you are going, you’ll end up someplace else
                                                    </p>
                                                    <small>
                                                        Lewis Carroll, Alice in Wonderland
                                                        <span class="occupation"></span>
                                                    </small>
                                                </blockquote>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <section class="section">
                        <div class="container">
                            <div class="section-header">
                                <h1>
                                    <span>Contact</span>
                                </h1>
                                <div class="header-desc">
                                    <span>Let's talk "Body Numbers"</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7 fadeLeft">
                                    <h5 class="small-header">
                                        <span>Contact us</span>
                                    </h5>

                                    <form id="contact-form" class="form-horizontal" method="post" action="php/send.php">

                                        <div id="message-input">
                                            <input type="text" name="name" id="name" value="" placeholder="Name" size="22" tabindex="1" aria-required="true" class="requiredField name input-name label-better">
                                            <input type="text" name="email" id="email" value="" placeholder="Email" size="22" tabindex="2" aria-required="true" class="requiredField email input-email label-better">
                                        </div>
                                        <div id="message-textarea">
                                            <textarea name="message" id="message" cols="39" rows="6" tabindex="4" class="requiredField label-better" placeholder="Message..."></textarea>
                                        </div>
                                        <div id="message-submit">
                                            <p></p>
                                            <div>
                                                <input name="Send" type="submit" id="Send" tabindex="5" value="Send message" class="btn-submit btn">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="col-sm-5 fadeRight resp-no-gap">
                                    <h5 class="small-header">
                                        <span>Connect</span>
                                    </h5><br />
                                    <div class="row bottom-gap">                                    
                                            <h6 class="accent-color">Roger Walsh</h6><a href="tel:773-551-3633">773-551-3633</a><br /><a href="mailto:roger.walsh@firstcareusa.com" target=" _blank">roger.walsh@firstcareusa.com</a><br /><a href="http://firstcareconnects.com" target=" _blank">firstcareconnects.com</a><br /><a href="http://firstcarefit.com">firstcarefit.com</a><br />Elmhurst, Illinois, USA<br /><br />
                                            <h6 class="accent-color">Dave Schneller</h6><a href="mailto:dave.schneller@firstcarehealthcare.com" target=" _blank">dave.schneller@firstcarehealthcare.com</a><br /><a href="http://firstcarehealthcare.com" target=" _blank">firstcarecarehealthcare.com</a><br />Springfield, Illionis, USA
                                        </div>
                                    </div><br />
                                    <h5 class="small-header">
                                        <span>Get connected</span>
                                    </h5>
                                    <div class="social-icons">
                                        <a href="#" class="fa fa-facebook"></a>
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-linkedin"></a>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </div>
                                </div>
                            </div>                        
                    </section>
                </section>

                <footer>
                    <div class="back-to-top"><a href="" class="btn btn-primary" data-scroll-goto="0">Back to top</a></div>
                    <img src="~/img/fit-sm-logo.jpg" alt="firstcare fit logo">
                    <span class="copyrights">&copy; First Care FIT</span>
                </footer>

                </div><!-- /st-content-inner -->
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->
    </div><!-- /st-container -->

    <script src="~/js/vendor/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="~/js/vendor/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/classie.js" type="text/javascript"></script>
    <script src="~/js/sidebarEffects.js" type="text/javascript"></script>
    <script src="~/js/jquery.countTo.js" type="text/javascript"></script>
    <script src="~/js/waypoints.min.js" type="text/javascript"></script>
    <script src="~/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
    <script src="~/js/scrollIt.min.js" type="text/javascript"></script>
   <script src="~/js/jquery.flexslider.js" type="text/javascript"></script>  
    <script src="~/js/jquery.label_better.min.js" type="text/javascript"></script>
    <!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js" type="text/javascript"></script>
    <script src="~/js/map.js"></script>-->
    <script src="~/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="~/js/skrollr.min.js" type="text/javascript"></script>
    <script src="~/js/socialcount.min.js" type="text/javascript"></script>
    <script src="~/js/lightbox-2.6.min.js" type="text/javascript"></script>
    <!--<script src="/js/retina-1.1.0.min.js"></script>-->
    <script src="~/js/jquery.fitvids.js" type="text/javascript"></script>    
  <!--  <script src="~/js/twitter/jquery.tweet.js" type="text/javascript"></script>-->
    <script src="~/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
     <script src="~/js/jmpress.min.js" type="text/javascript"></script>
    <script src="~/js/dasky.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#dasky').Dasky({ nav: true, interval: 8000, autoplay: true, fullscreen: false, keyboard: false, mousewheel: true });
        });
    </script>
    
    <script src="~/js/main.js" type="text/javascript"></script>

</body>
</html>
