@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FCfit/Analyzed Biometric Fitness</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="~/favicon.ico">    
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-touch-icon-114-precomposed" />
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-touch-icon-72-precomposed" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon-144-precomposed" />

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/dasky.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/flexslider.css">    
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css">
    <script src="~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
 
</head>
<body>
    <!-- PAGE LOADER -->
    <div id="page-loader">
        <img src="~/img/fit-sm-logo.jpg" alt="">
        <div class="loader">
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE LOADER End -->

    <div id="st-trigger-effects" class="trigger-fixed visible-xs visible-sm">
        <a href="#" data-effect="st-effect-2">Menu<i class="fa fa-bars"></i></a>
    </div>
    <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-2" id="menu-4">
            <div class="st-menu-logo"><img src="~/img/fit-sm-logo.jpg" alt=""></div>
            <ul>
                <li><a href="#home" data-scroll-nav="0">Home</a></li>
                <li><a href="#about" data-scroll-nav="1">About fCfit</a></li>
                <li><a href="#goals" data-scroll-nav="2">Training Goals</a></li>   
                <li><a href="#devices-section" data-scroll-nav="3">Results</a></li>
                <li><a href="#services" data-scroll-nav="4">Programs</a></li>
                <li><a href="#contact" data-scroll-nav="5">Contact</a></li>
            </ul>
            <ul>
                <li><a href="shortcodes.html">Shortcodes<i class="fa fa-external-link"></i></a></li>
            </ul>
        </nav>
        <!-- content push wrapper -->
        <div class="st-pusher">
            <div class="st-content">
                <!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <!-- extra div for emulating position:fixed of the menu -->
                    <header data-scroll-index="0">
                        <!-- HOME FULLSCREEN -->
                        <div id="home" class="home-fullscreen" data-100="opacity:1" data-500="opacity:0.5">
                            <div class="home-bg-container">
                              <a id="bgndVideo" class="home-bg-player" data-property="{videoURL:'http://youtu.be/rZp3nATDAok',containment:'.home-bg-container', quality: 'hd720', showControls: false, autoPlay:true, mute:true, startAt:0, opacity:1}"></a>
                            </div>
                            <div class="overlay">
                                <div class="home-content">
                                    <!-- INFO BAR -->
                                    <!-- LOGOTYPE -->
                                    <div class="logo-home">
                                        <a href="index.html"></a>
                                    </div>
                                    <!-- LOGOTYPE End -->
                                    <!-- HOME TEXT -->
                                    <div class="home-text" data-0="top: 0%; opacity: 1" data-500="top: 50%; opacity: 0.1">
                                        <div id="home-slider" class="flexslider">
                                            <ul class="slides">
                                                <li>
                                                    <span class="home-text-header">Perform Strong</span>
                                                    <span class="big-text">FCfit</span>
                                                </li>
                                                <li>
                                                    <span class="home-text-header">Training Load on</span>
                                                    <span class="big-text">heart rate recovery</span>
                                                </li>
                                                <li>
                                                    <span class="home-text-header">Train to</span>
                                                    <span class="big-text">peak performance</span>
                                                </li>
                                                <li>
                                                    <span class="home-text-header">Real-time monitoring of</span>
                                                    <span class="big-text">training intensity</span>
                                                </li>
                                                <li>
                                                    <span class="home-text-header">see when it's safe to</span>
                                                    <span class="big-text">push to max zone</span>
                                                </li>
                                                <li>
                                                    <span class="home-text-header">see Serious Success </span>
                                                    <span class="big-text">FCfit</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="small-text">
                                            Analyze &middot; Biometric &middot; Heart &middot; Fitness
                                        </div>
                                    </div>
                                    <!-- HOME TEXT End -->
                                    <!-- HOME READ-MORE BUTTON -->
                                    <div class="home-more">
                                        <a href="#about" class="btn btn-primary" style="padding:0" data-scroll-nav="1"><img src="~/img/down.png" /></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- NAVBAR -->
                        <div id="navbar" class="nav-fixed .nav-home-top hidden-xs hidden-sm">
                            <div class="container">
                                <div class="nav-logo"><a href="index.html"><img src="~/img/fit-tiny-logo.png" alt=""></a></div>
                                <nav class="main-nav">
                                    <ul>
                                        <li><a href="#home" data-scroll-nav="0">Home</a></li>
                                        <li><a href="#about" data-scroll-nav="1">About fcfit</a></li>
                                        <li><a href="#goals" data-scroll-nav="2">Training Goals</a></li>       
                                        <li><a href="#devices-section" data-scroll-nav="3">Results</a></li>
                                        <li><a href="#services" data-scroll-nav="4">Programs</a></li>
                                        <li><a href="#contact" data-scroll-nav="5">Contact</a></li>
                                        <li><a href="#shortcodes.html">Login<i class="fa fa-external-link"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </header>

                    <!-- ABOUT SECTION CONTAINER -->               
                    <section id="about" data-scroll-index="1">

                        <section class="section section-bg-attached">

                            <div id="dasky" style="height:550px">

                                <!-- first node start -->
                                <div id="fcfit" class="step">                                   
                                        <div class="dsk-circle"></div>
                                        <h2 class="dsk-circle-title">FCfit</h2>
                                    <div class="dsk-content">
                                        <p class="dsk-info text-left" style="margin-top:0px">
                                            <iframe src="//player.vimeo.com/video/114101946?portrait=0&title=0&byline=0&color=333" width="300" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </p>
                                        <div style="position: absolute; right:0;top:0;width:350px">
                                            <h3>MEASURE and ANALYZE more than just your heart rate.</h3>
                                            <p>FirstCareFIT gives trainers and coaches a look "inside" the athlete. Real-time monitoring allows management of safe training intensity.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- first node end-->
                                <!-- normal node start-->
                                <div id="set-goal" class="step">
                                    <div class="dsk-circle">0</div>
                                    <h2 class="dsk-circle-title">What is your Goal?</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h2>What is your Goal?</h2>
                                            <p>
                                                'If you have a goal― Write it down!  If you do not write it down― You do not have a goal.  You have a wish.' ― Steve Maraboli<br /><br />
                                                Is your goal to... Lose weight?<br /> Tone up? Different Belt? <br />Upcoming competition?
                                            </p>
                                        </div>
                                        <a href="#goals" class="dsk-link">Read More</a>
                                        <img src="~/img/start.jpg" />
                                    </div>
                                </div>

                                <div id="baseline" class="step">
                                    <div class="dsk-circle">1</div>
                                    <h2 class="dsk-circle-title">Baseline your performance</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h2>Baseline your performance</h2>
                                            <p>See the baseline of all your biometric numbers, in an email. <br />See where you fit by comparison to others. 
                                             </p>
                                        </div>
                                        <a href="#story" class="dsk-link">Read More</a>
                                        <img src="~/img/step-1.jpg" alt="Baseline performance" />

                                    </div>
                                </div>

                                <div id="workout" class="step">
                                    <div class="dsk-circle">2</div>
                                    <h2 class="dsk-circle-title">Workout to see your numbers</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h2>Workout to see your numbers</h2>
                                            <p>
                                                See your anaerobic threshold, your heart rate variability to optimize your workouts.
                                            </p>
                                        </div>
                                        <a href="#goals" class="dsk-link">Read More</a>
                                        <img src="~/img/steps-photo02.png" />

                                    </div>
                                </div>

                                <div id="progress" class="step">
                                    <div class="dsk-circle">3</div>
                                    <h2 class="dsk-circle-title">Anaylze Biometric Numbers</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h2>Seeing is believeing</h2>
                                            <p>
                                                Use technology to establish where you are and to compare your live readings with others.<br /><br />
                                                Mechanical Load vs. Phiological Load = Training Load
                                            </p>
                                        </div>
                                        <a href="#story" class="dsk-link">Read More</a>

                                        <img src="~/img/step-3.jpg" />
                                    </div>
                                </div>

                                <div id="score" class="step">
                                    <div class="dsk-circle">Score</div>
                                    <h2 class="dsk-circle-title">Goal Success</h2>
                                    <div class="dsk-content">
                                        <div class="dsk-info">
                                            <h2>Goal Success</h2>
                                            <p>
                                                'What keeps me going is goals' ― Muhammad Ali<br /><br />
                                                You will have gone where many want to achieve.
                                            </p>
                                        </div>
                                        <a href="#results" class="dsk-link">Read More</a>
                                        <img src="~/img/otavio-up.jpg" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="home-more text-center">
                                <a href="#results" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                            </div>            
                        </section>

                    </section>
                        <!-- TRAINING GOALS SECTION CONTAINER-->
                        <section class="section about-text bottom-gap" id="goals" data-scroll-index="2">
                          
                            <div class="section-header">
                                <h1>
                                    <span>TRAINING GOALS</span>
                                </h1>
                                <div class="header-desc">
                                    <span></span>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="small-header">
                                            <span>Training Goals</span>
                                        </h5>

                                        <div class="progress fadeLeft" fade-delay="400">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                                <span class="sr-only">65% Complete</span>
                                                Mechanical Load &middot; 65%
                                            </div>
                                        </div>

                                        <div class="progress fadeLeft" fade-delay="200">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                                <span class="sr-only">80% Complete</span>
                                                Physiological load &middot; 80%
                                            </div>
                                        </div>

                                        <div class="progress fadeLeft">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                <span class="sr-only">100% Complete</span>
                                                Training Load &middot; 100%
                                            </div>
                                        </div>

                                        <img src="~/img/pullups2.jpg" />
                                        <br /><br />
                                        <img src="~/img/pullups1.jpg" />
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="small-header">
                                            <span>Beyond Body Numbers</span>
                                        </h5>

                                        <!-- ACCORDION -->
                                        <div class="panel-group fadeRight" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                        70% heart rate zone <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                                    </a>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body text-left">
                                                        To get the most of your half-hour workout you need to get your heart rate up to 65% to 70% heart range zone in a 35 to 40 minute workout. You'll see a huge difference in a short amount of time.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                        Raw numbers from your body <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                                    </a>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="panel-body text-left">
                                                        <p>
                                                            We have a different approach to fitness. We target the 'raw numbers' that come out of your body, not just the way we feel or the way we've done it all along years ago. We look at heart rate recovery, some lung numbers, and other attributes of real gauges that we can see. We develop a personalized program for each person, based on their goals, their capabilities, and their ability to workout. We ask, "How much time do you have?" If it's 20 minutes and 3 days a week, "Okay".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                        The key is Analysis and Plan <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                                    </a>
                                                </div>
                                                <div id="collapse3" class="panel-collapse collapse">
                                                    <div class="panel-body text-left">
                                                        What we are doing with FCFit is pretty simple really. We’ve been developing workout routines for Jiu Jitsu competitors. That has expanded to people outside of the gym, and with coaches of school atheletics.<br /><br />
                                                        There is interest in using additional physiological data to determine baselines and safe training progress towards goal success. <br /><br />
                                                        Jiu Jitsu facilities to use our data and analysis for their members. The key is the analysis and program development.  We go beyond to understand and translate body biometrics information to logical action. <br /><br />
                                                        What we have developed a “Subscription” service to gym owners and individuals interest in having us collect, analyze and translate this information to help them improve their workouts, or at a minimum, understand at a cursory level where they can improve.
                                                        The program is based on an 8 week timeline to make progress toward goals or an ongoing subscription for continual improvement.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                        Analyze and Compare  <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                                    </a>
                                                </div>
                                                <div id="collapse4" class="panel-collapse collapse">
                                                    <div class="panel-body text-left">
                                                        We have developed a portal where people can login, establish a baseline, view their baseline data, receive recommended adjustments to their workouts, see progress reports toward goals and get questions answered.  Our database is growing daily and I believe the information we are gathering is going to be valuable.
                                                        Our participants can view their data and compare themselves with other members or anyone else in the database with similar demographics.  That has proven to be a great motivator.  Gym owners value this program as an enhanced value to their programs.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading clearfix">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                        3 Program Models <i class="fa fa-chevron-circle-down fadeLeft"></i>
                                                    </a>
                                                </div>
                                                <div id="collapse5" class="panel-collapse collapse">
                                                    <div class="panel-body text-left">
                                                        <ul>
                                                            <li>
                                                                Individual basic routine, analysis and development
                                                            </li>
                                                            <li>
                                                                Group Sessions with real-time and summary data provided (through the portal)
                                                            </li>
                                                            <li>
                                                                Sport specific development programs tailored to your sport and role-specific development routines.
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ACCORDION END -->
                                    </div>
                                </div>
                            </div>
                            <div class="home-more text-center">
                                <a href="#story" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                            </div>
                        </section>

                        <!-- WORKOUT STORY SECTION -->
                        <section id="story" class="section section-diff section-bg-attached">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <h4 class="accent-color">Do you have a fitness goal?<br /> Lose weight? Tone up? Different Belt? <br />Upcoming competition?<br /> Everyone exercises for a reason.</h4>
                                            <p class="text-left" style="color:black">In the 90’s, we had to be exhausted to claim to have had a good workout. That’s what Vince Lombardi said― so it has to be true.<em> Right?</em> Well― since Vince, through technology and science, we know that isn’t necessarily the case.</p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="text-left" style="color:black"><br />We do know that the human body, every human body does react when stimulated. It will adapt or try to adapt to situations presented. That part... no one questions. We also know that every type of body responds in its own way. Some recover quicker. Some are more susceptible to injury. Some are just plain amazing. How do they get that way? Is it genetics? A secret workout routine?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5 class="small-header sh-center">
                                            <span>8 WEEK GOAL ― Flexibility + Strength + CARDIO</span><br />
                                            <span class="small-text">Sleep + Stress + Nutrition</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="story">
                                            <div class="timeline"></div>
                                            <div class="story-item">
                                                <div class="story-item-content fadeRight">
                                                    <div class="story-item-wrap">
                                                        <div class="line-arrow"></div>
                                                        <span class="si-year">WEEK 1&nbsp;&nbsp;&nbsp; </span><span class="si-date">Baseline</span><span class="si-header">Record biometric heart readings</span><br />
                                                        <p class="si-desc">Our FCfit Program sets up your baseline. We give you a program to follow based on how much time you have, and what your facility looks like. The baseline isn't just― "What our your biometrics, what is your resting heart rate, what is your flexability, and how high you can jump", but also― "What is your weight, what is your body fat percentage, and where do you want to be in 8 weeks?".</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="story-item">
                                                <div class="story-item-content fadeLeft">
                                                    <div class="story-item-wrap">
                                                        <div class="line-arrow"></div>
                                                        <span class="si-year"> &nbsp;&nbsp;&nbsp;WEEK 4 </span><span class="si-date">Progress</span><span class="si-header">Analyze specific numbers</span><br />
                                                        <p class="si-desc">We have 'specific individuals' looking and 'specific numbers' for a 'specific person', saying, "Okay I want to improve that number... here's what I've got to do in the next 4 weeks to improve that number... here's what I've got to do in another 4 weeks to make it better, so that I can get from point A to point B in 8 weeks.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="story-item">
                                                <div class="story-item-content fadeRight">
                                                    <div class="story-item-wrap">
                                                        <div class="line-arrow"></div>
                                                        <span class="si-year">WEEK 8&nbsp;&nbsp;&nbsp; </span><span class="si-date">Goal</span><span class="si-header">Maximize training, without injury</span><br />
                                                        <p class="si-desc"> If your goal is further out than 8 weeks, at least we can take an 8 week step towards that goal. For a triathlon, the goal may be a year. We can break that down into segments.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="home-more text-center">
                                    <a data-scroll-nav="3" class="btn btn-primary" style="padding:0"><img src="~/img/down.png" /></a>
                                </div>
                            </div>
                        </section>

                        <!-- RESULTS SECTION CONTAINER-->
                        <section id="devices-section" data-scroll-index="3">
                            <section id="results"class="section">
                                <div class="container">
                                    <!-- SECTION HEADER -->
                                    <div class="section-header">
                                        <h1>
                                            <span>Results</span>
                                        </h1>
                                        <div class="header-desc">
                                            <span>Collected, Analyzed, and Translated</span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="container">
                                    <div class="row bottom-gap">
                                        <div class="col-sm-12">
                                            <ul class="devices-nav">
                                                <li><a href="">Online Analysis Reports</a></li>
                                                <li><a href="">Performance Monitor</a></li>
                                                <li><a href="">Measured Readings</a></li>
                                            </ul>
                                        </div>
                                    </div>
                               
                                    <div class="flexslider devices">
                                        <ul class="slides">
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <h2>Performance Analysis and Comparison</h2><br>
                                                            <!-- ICON BOX -->
                                                            <div class="icon-box">
                                                                <i class="fa fa-tablet fadeLeft"></i>
                                                                <div class="icon-box-content">
                                                                    <h6>Generate summary reports and graphs for fitness and training optimization</h6>
                                                                    <p>OmniSense ANALYSIS has an extensive toolbox of reporting features including spreadsheets and polar plots. Everything a researcher, coach or trainer needs to understand how their people are performing over time.</p>
                                                                </div>
                                                            </div>
                                                            <!-- ICON BOX End -->
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <img src="~/img/fitness-test.JPG" alt="" class="pull-right" style="margin-top: -10px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <h2>Physiological Status Monitoring</h2><br>
                                                            <!-- ICON BOX -->
                                                            <div class="icon-box">
                                                                <i class="fa fa-bar-chart-o fadeLeft"></i>
                                                                <div class="icon-box-content">
                                                                    <h6>Live physiologic readings</h6>
                                                                    <p> OmniSense LIVE is designed to show as many as 50 people LIVE (auto-scaling and summary views) and manage personnel, their Safety Thresholds, and the sensors and radios associated with them. Each person is displayed via a configurable “BioGauge” which displays the data that you care about most.  Also, the Safety Alert state is always tracked via the Safety tab which notifies the user if an individual has crossed an assigned Safety Threshold.  Additionally, work tracking individuals in a workout, the Training view tracks the individual’s Training Zone relative to the designated Workout routine.</p>
                                                                </div>
                                                            </div>
                                                            <!-- ICON BOX End -->
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <img src="~/img/Omnisense-live-chart.JPG" alt="" class="pull-right" style="margin-top: 30px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-5">
                                                            <h2>Physiological Performance Monitor</h2><br>
                                                            <!-- ICON BOX -->
                                                            <div class="icon-box">
                                                                <i class="fa fa-bullseye fadeLeft"></i>
                                                                <div class="icon-box-content">
                                                                    <h6>Wireless Professional Bluetooth Heart Rate & Physiological Monitor</h6>
                                                                    <p> The monitoring module enables the capture and transmission of comprehensive physiological data on the wearer via mobile and fixed data networks – enabling genuine remote monitoring of human performance and condition in the real world.</p>
                                                                </div>
                                                            </div>
                                                            <!-- ICON BOX End -->
                                                        </div>
                                                        <div class="col-sm-7">
                                                            <img src="~/img/Bioharness3.png" alt="" class="pull-right" style="margin-top: -10px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>                                                                    
                                </div>
                                <div class="home-more" style="text-align:center">
                                    <a href="#numbers" class="btn down-btn" style="padding:0"><img src="~/img/down.png" /></a>
                                </div>
                            </section>
                            <!-- NUMBERS SECTION -->
                            <section id="numbers" class="section section-inverse section-bg-overlay section-bg-attached" style="background-image: url(../../img/jiu-mat.jpg); ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- SMALL HEADER CENTERED  -->
                                            <h5 class="small-header sh-center bottom-gap">
                                                <span>Where Do you FIT?</span>
                                            </h5>
                                            <!-- SMALL HEADER CENTERED  End -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <!-- COUNT ITEM -->
                                            <div class="count-item fadeTop">
                                                <div class="count-header"></div>
                                                <span class="count-number counter" data-from="0" data-to="32" data-speed="2000">0</span>
                                                <div class="count-subject">Push ups</div>
                                            </div>
                                            <!-- COUNT ITEM End -->
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <!-- COUNT ITEM -->
                                            <div class="count-item fadeTop" fade-delay="400">
                                                <div class="count-header"></div>
                                                <span class="count-number counter" data-from="0" data-to="23" data-speed="2000">0</span>
                                                <div class="count-subject">Pull ups</div>
                                            </div>
                                            <!-- COUNT ITEM End -->
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <!-- COUNT ITEM -->
                                            <div class="count-item fadeTop" fade-delay="800">
                                                <div class="count-header"></div>
                                                <span class="count-number counter" data-from="0" data-to="4" data-speed="2000">0</span>
                                                <div class="count-subject">squats</div>
                                            </div>
                                            <!-- COUNT ITEM End -->
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <!-- COUNT ITEM -->
                                            <div class="count-item fadeTop" fade-delay="1200">
                                                <div class="count-header"></div>
                                                <span class="count-number counter" data-from="0" data-to="10" data-speed="2000">0</span>
                                                <div class="count-subject">bear crawls</div>
                                            </div>
                                            <!-- COUNT ITEM End -->
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- NUMBERS SECTION End -->
                        </section>

                        <!-- PROGRAM SECTION CONTAINER -->
                        <section id="services" data-scroll-index="4">
                            <!-- PROGRAM SECTION -->
                            <section class="section section-diff ">
                                <div class="container">
                                    <!-- SECTION HEADER -->
                                    <div class="section-header">
                                        <h1>
                                            <span>Programs</span>
                                        </h1>
                                        <div class="header-desc">
                                            <span>Custom plans for individuals, gym trainers, and coaches</span>
                                        </div>
                                    </div>
                                    <!-- SECTION HEADER End -->
                                    <div class="row bottom-gap ">
                                        <div class="col-sm-4">
                                            <!-- SERVICE ITEM -->
                                            <div class="service fadeLeft">
                                                <div class="service-icon">
                                                    <i class=""></i>
                                                </div>
                                                <div class="service-header">
                                                    Individual Plan
                                                </div>
                                                <div class="service-desc">
                                                    <p>Performance Monitor: strap, shirt, device</p>
                                                    <p>Monitoring software</p>
                                                    <p>FCfit online chart analysis</p>
                                                </div>
                                                <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                            </div>
                                            <!-- SERVICE ITEM End -->
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- SERVICE ITEM -->
                                            <div class="service fadeTop">
                                                <div class="service-icon">
                                                    <i class=""></i>
                                                </div>
                                                <div class="service-header">
                                                    Training Gyms
                                                </div>
                                                <div class="service-desc">
                                                    <p>Equipment: performance monitors, software, online analysis reports for 50 individual and team workout comparisons</p>
                                                </div>
                                                <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                            </div>
                                            <!-- SERVICE ITEM End -->
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- SERVICE ITEM -->
                                            <div class="service fadeRight">
                                                <div class="service-icon">
                                                    <i class=""></i>
                                                </div>
                                                <div class="service-header">
                                                    Coaches
                                                </div>
                                                <div class="service-desc">
                                                    <p>Equipment: performance monitors, software, online analysis reports for 50 individual and team workout comparisons</p>
                                                </div>
                                                <div class="service-btn"><a href="#" class="btn btn-link"></a></div>
                                            </div>
                                            <!-- SERVICES ITEM End -->
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- PROGRAMS SECTION  end -->
                        </section>

                        <!-- TESTIMONIALS SECTION -->
                      <section class="section section-inverse section-bg-overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- SMALL HEADER CENTERED  -->
                                    <h5 class="small-header sh-center bottom-gap">
                                        <span>Testimonials</span>
                                    </h5>
                                    <!-- SMALL HEADER CENTERED  End -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="flexslider testimonials-slider">
                                        <ul class="slides">
                                            <li>
                                                <div class="testimonial">
                                                    <blockquote>
                                                        <p><b>The good news is...</b> That every human body is made up of the same components; heart, lungs, muscles, tendons and bones to support all of those things.</p>
                                                        <p><b>The bad news is...</b> The body also comes with a brain. The body is willing to work hard, through punishment and adversity. The brain on the other hand, because of a variety of influences like job stress, politics, family issues -and my favorite, relationships, to name a few, will have wide ranging effects on your body.</p>
                                                        <small>
                                                            <img class="author-avatar" src="http://placehold.it/100x100" alt="">
                                                            Roger Walsh
                                                            <span class="occupation">President of FCfit</span>
                                                        </small>
                                                    </blockquote>
                                                </div>
                                            </li>
                                            <!--  <li>
                              
                                <div class="testimonial">
                                    <blockquote>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec arcu odio. Cras mattis a enim eu sodales</p>
                                        <small>
                                            <img class="author-avatar" src="http://placehold.it/100x100" alt="">
                                            Matthias Gergely
                                            <span class="occupation">CEO of Lalita</span>
                                        </small>
                                    </blockquote>
                                </div>
                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                        <!-- CONTACT SECTION CONTAINER -->
                        <section id="contact" data-scroll-index="5">
                            <!-- CONTACT SECTION -->
                            <section class="section">
                                <div class="container">
                                    <!-- SECTION HEADER -->
                                    <div class="section-header">
                                        <h1>
                                            <span>Contact</span>
                                        </h1>
                                        <div class="header-desc">
                                            <span>this is my contact info</span>
                                        </div>
                                    </div>
                                    <!-- SECTION HEADER End -->
                                    <div class="row">
                                        <div class="col-sm-7 fadeLeft">
                                            <h5 class="small-header">
                                                <span>Contact us</span>
                                            </h5>

                                            <form id="contact-form" class="form-horizontal" method="post" action="php/send.php">

                                                <div id="message-input">
                                                    <input type="text" name="name" id="name" value="" placeholder="Name" size="22" tabindex="1" aria-required="true" class="requiredField name input-name label-better">
                                                    <input type="text" name="email" id="email" value="" placeholder="Email" size="22" tabindex="2" aria-required="true" class="requiredField email input-email label-better">
                                                </div>
                                                <div id="message-textarea">
                                                    <textarea name="message" id="message" cols="39" rows="6" tabindex="4" class="requiredField label-better" placeholder="Message..."></textarea>
                                                </div>
                                                <div id="message-submit">
                                                    <p></p>
                                                    <div>
                                                        <input name="Send" type="submit" id="Send" tabindex="5" value="Send message" class="btn-submit btn">
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="col-sm-5 fadeRight resp-no-gap">
                                            <h5 class="small-header">
                                                <span>Connect</span>
                                            </h5>
                                            <div class="row bottom-gap">
                                                <div class="col-sm-6">
                                                    <h6 class="accent-color">Roger Walsh</h6>773-551-3633<br />roger.walsh@firstcareusa.com<br />http://firstcareconnects.com<br />Elmhurst, Illinois, USA<br />
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="accent-color">Dave Schneller</h6><br />dave.schneller@firstcarehealthcare.com<br />http://firstcarehealthcare.com<br />Springfield, Illionis, USA
                                                </div>
                                            </div>
                                            <h5 class="small-header">
                                                <span>Get connected</span>
                                            </h5>
                                            <div class="social-icons">
                                                <a href="#" class="fa fa-facebook"></a>
                                                <a href="#" class="fa fa-twitter"></a>
                                                <a href="#" class="fa fa-linkedin"></a>
                                                <a href="#" class="fa fa-google-plus"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- CONTACT SECTION End -->
                            <!-- MAP
            <section>
                <div id="map" class="fadeIn"></div>
            </section>-->
                            <!-- MAP End -->
                        </section>

                        <footer>
                            <div class="back-to-top"><a href="" class="btn btn-primary" data-scroll-goto="0">Back to top</a></div>
                            <img src="~/img/fit-sm-logo.jpg" alt="">
                            <span class="copyrights">&copy; Copyright 2014 - FCfit</span>
                        </footer>

               </div><!-- /st-content-inner -->
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->
    </div><!-- /st-container -->

    <script src="~/js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/sidebarEffects.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>   
    <script src="~/js/jquery.label_better.min.js"></script>
   <!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js" type="text/javascript"></script>
    <script src="~/js/map.js"></script>-->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/skrollr.min.js"></script>
    <script src="~/js/socialcount.min.js"></script>
    <script src="~/js/lightbox-2.6.min.js"></script>
    <!--<script src="/js/retina-1.1.0.min.js"></script>-->
    <script src="~/js/jquery.fitvids.js"></script>    
    <script src="~/js/twitter/jquery.tweet.js"></script>
    <script src="~/js/jquery.mb.YTPlayer.js"></script>
    <script src="~/js/main.js"></script>
 
    <!--  <script>
    jQuery(function () {
        if (self.location.href == top.location.href) {
            var logo = $("<a src='~/img/fit-sm-logo.jpg' style='position:absolute;top:0;z-index:1000'><img id='logo' border='0' src='~/img/fit-sm-logo.jpg' alt='firstcarefit'></a>");
            $("#home").prepend(logo);
            $("#logo").fadeIn();
        }
        jQuery(".player").mb_YTPlayer();
    });
    </script> --> 

    <script src="~/js/jmpress.min.js"></script>
    <script src="~/js/dasky.min.js"></script>
    <script type="text/javascript">
      $(function () {
        $('#dasky').Dasky({ nav: true, interval:5000, autoplay: false, fullscreen: false, keyboard: false, mousewheel: true });
      });
    </script>
  
    

</body>
</html>
